<h1>Dashboard</h1>

<%= timeline [
                 ["Schoenbrunn Tour", "1789-04-29", "1797-03-03"],
                 ["Tour 1", "1797-03-03", "1801-03-03"],
                 ["Tour 2", "1801-03-03", "1809-03-03"]
             ] %>