<h1>Dashboard</h1>



<div class="row">

  <div class="col-xs-12">

    <!-- Einnahmen Infos  -->
    <div class="row">
      <div class="col-xs-12">
        <h2>Umsatz</h2>
      </div>
      <div class="col-xs-3">VON: Datetime picker</div>
      <div class="col-xs-3">BIS: Datetime picker</div>
      <div class="col-xs-3">
        <button>Reload</button>
      </div>
      <div class="col-xs-12">
        <%= line_chart @linchartData %>
      </div>
    </div>

    <!-- tour Guide Infos -->
    <div class="row">
      <div class="col-xs-12">
        <h2>Tourguide Infos</h2>
      </div>
      <div class="col-xs-3">VON: Datetime picker</div>
      <div class="col-xs-3">BIS: Datetime picker</div>
      <div class="col-xs-3">
        <button>Reload</button>
      </div>
      <div class="col-xs-12">
        <%= column_chart @tourGuideData %>
      </div>
    </div>

    <!-- -->
    <div class="row">
      <div class="col-xs-12">
        <h2>Tour Informationen</h2>
      </div>
      <div class="col-xs-3">VON: Datetime picker</div>
      <div class="col-xs-3">BIS: Datetime picker</div>
      <div class="col-xs-3">
        <button>Reload</button>
      </div>
      <div class="col-xs-12">
        <%= line_chart @multipleSeries %>
      </div>
    </div>


  </div>

</div>