<h1>Editing Tour Guide To Agentur</h1>

<%= render 'form', tour_guide_to_agentur: @tour_guide_to_agentur %>

<%= link_to 'Show', @tour_guide_to_agentur %> |
<%= link_to 'Back', tour_guide_to_agenturs_path %>
