// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap-welcome {
  padding-top: 5em;
}

.navbar {
  background-color: #cc0000;
  border-radius: 0;

  .navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
  }

  li {
    a {
      color: #ffcccc;

      &:hover, &:focus {
        color: #ffffff;
        box-shadow: inset 0 -2px 0 #ffffff;
      }
    }
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #cc0000;
  }

  .navbar-brand:hover, .navbar-brand:focus {
    background-color: #cc0000;
  }

  li.active {
    a {
      color: #ffffff;
      box-shadow: inset 0 -2px 0 #ffffff;
    }
  }
}

a:hover, a:focus {
  background-color: transparent;
}

a, a:visited {
  color: #337ab7
}

td.ta-align-right {
  text-align: right;
}